@using System.Data;

<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-0">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="tableh table table-reflow table-hover">
                        <tr>
                            <th>Title</th>
                            <th>Released</th>
                            <th>Playtime</th>
                            <th>Revealed</th>
                            <th>Rating</th>
                            <th>+</th>
                            <th>-</th>
                        </tr>
                        
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a href="Edit?id=">Edit</a></td>
                                <td><a href="Delete?id=">Delete</a></td>
                            </tr>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


