@{
    ViewBag.Title = "XML";
}
<h2>@ViewBag.Title</h2>

<div>
    <table class="songs" id="songs">
        <thead>Title</thead>
        <thead>Released</thead>

        <tr>
            <td>test1</td>
            <td>test2</td>
        </tr>
    </table>
</div>